body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 50px 0;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

section {
  padding: 50px;
}

h2 {
  color: #333;
}
